@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
}

@font-face {
    /*Sans*/
    font-family: "MR-EL";
    src: url("./fonts/MR/Manrope-ExtraLight.ttf") format("truetype");
    font-family: "MR-L";
    src: url("./fonts/MR/Manrope-Light.ttf") format("truetype");
    font-family: "MR-R";
    src: url("./fonts/MR/Manrope-Regular.ttf") format("truetype");
    font-family: "MR-M";
    src: url("./fonts/MR/Manrope-Medium.ttf") format("truetype");
    font-family: "MR-SM";
    src: url("./fonts/MR/Manrope-SemiBold.ttf") format("truetype");
    font-family: "MR-B";
    src: url("./fonts/MR/Manrope-Bold.ttf") format("truetype");
    font-family: "MR-EB";
    src: url("./fonts/MR/Manrope-ExtraBold.ttf") format("truetype");
    /*Mono Font*/
    font-family: "JB-EL";
    src: url("./fonts/JBM/JetBrainsMono-ExtraLight.ttf") format("truetype");
    font-family: "JB-L";
    src: url("./fonts/JBM/JetBrainsMono-Light.ttf") format("truetype");
    font-family: "JB-TH";
    src: url("./fonts/JBM/JetBrainsMono-Thin.ttf") format("truetype");
    font-family: "JB-Reg";
    src: url("./fonts/JBM/JetBrainsMono-Regular.ttf") format("truetype");
    font-family: "JB-M";
    src: url("./fonts/JBM/JetBrainsMono-Medium.ttf") format("truetype");
    font-family: "JB-SemiB";
    src: url("./fonts/JBM/JetBrainsMono-SemiBold.ttf") format("truetype");
    font-family: "JB-B";
    src: url("./fonts/JBM/JetBrainsMono-Bold.ttf") format("truetype");
    font-family: "JB-EB";
    src: url("./fonts/JBM/JetBrainsMono-ExtraBold.ttf") format("truetype");
    font-family: "JB-I";
    src: url("./fonts/JBM/JetBrainsMono-Italic.ttf") format("truetype");    
}